  <html>
    <body>
    <div style='text-align: center'>
      <% if @name %>
      <h1>My name is <%=@name%>!</h1>
      <% end %>
      <div style='border: red dashed 3px'>
        <img src='https://i.imgur.com/jFaSxym.png'>
        <p>
        <% if !@name %>
        <form action="/named-cat" method="post">
          <label for="name">Name:</label>
          <input type="text" name="name">
          <input type="submit" value="Submit">
        </form>
        <% end %>
      </div>
    </div>
    </body>
  </html>