  <html>
    <body>
    <div style='border: red dashed 3px'>
      <img src='https://i.imgur.com/jFaSxym.png'>
      <h1>My name is <%=["Kitty", "Meow Meow", "Mittens"].sample%>!</h1>
    </div>
    </body>
  </html>